<html>
<head>
<%= stylesheet_link_tag "homes", :media => "all" %>

</head>
<body>

<h2>ようこそ
<strong>Bookers</strong> へ！</h2>
<main><p><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や<br>
印象を共有し交換することができます<br>
<a href="/books">start</a></p></main>
</body>
</html>