*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 10px 30px;
  font-size: 2em;
}

thead {
  padding: 20px 0;
  display: table-header-group;
    vertical-align: middle;
}

table {
  border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    line-height: 1.6;
}

td {
  padding: 0 10px;
}

.link {
  word-spacing: 0.5em;
}

body {
  margin: 33px;
}

main {
  width: 450px;
}

.errors {
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
}

ul {
  　line-height: 5px;
    margin-left: 50px;
    font-size: small;
    }

.text-title {
  padding-top: 0.1em;
}

.box {
   line-height: 1.5em;
}